/*default is mobile, requires no mixin, all bigger screens have their own mixins*/

@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

/*after floats clear both*/
@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}