.feature-item {
	
	position: relative;
	
	padding-bottom: 2.5rem;

	@mixin atSmall {
		padding-left: 94px;
	}

	&__icon {
		margin: 0 auto;
		display: block;

		@mixin atSmall {
			position: absolute;
			left: 0;
		}
	}

	&__title {
		font-size: 1.6rem;
		text-align: center;
		font-weight: 300;
		margin-bottom: 0.8rem;

		@mixin atSmall {
			text-align: left;
			font-size: 1.875rem;
		}
	}
}