.large-hero {
	border-bottom: 10px solid $mainBlue;
	position: relative;

	&__image {
		display: block;
	}

	&__text-content {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		font-size: 2.4rem;
		margin: 0;

		@mixin atSmall {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

		@mixin atSmall {
			font-size: 2.9rem;
		}
	}
	
	&__desc {
		color: #fff;
		font-weight: 200;
		font-size: 1.25rem;
		text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
		margin-left: auto;
		margin-right: auto;
		max-width: 30rem;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
}





