.row {
	
	/*testing wrapper overflow, comment bgcolor out to show case*/
	/*background-color: yellow;*/

	@mixin clearfix;
	
	/*adding some space to each columns right side but taking it away from parent */
	&--gutters {
		margin-right: -65px;
	}
	&--gutters > div {
		padding-right: 65px;
	}

	/*adding bottom margin on small screens*/
	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}


	/*2 columns layout starting from medium size screens*/
	@mixin atMedium {

		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		/*adjusting column width to suit better to our design*/
		&__medium-4--larger {
			width: 37%;
		}

		&__medium-8--smaller {
			width: 63%;
		}
	}
	
	

	
}