.section-title {
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	&__icon {
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		top: -0.4rem;

		@mixin atSmall {
			margin-right: 1rem;
			margin-left: 0;
			display: inline-block;
			position: relative;
			top: 8px;
		}
	}

	&--blue {
		color: $mainBlue;
	}

	&--less-margin {
		margin-bottom: 1.3rem;
		margin-top: 0;
	}

	
}