.site-header {
	position: absolute;
	padding: 10px 0;
	width: 100%;
	z-index: 2;
	transition: background-color 0.3s ease-out;
	
	@mixin atMedium {
		position: fixed;

		/* with postcss-hexrgba plugin hex-variables can be converted to rgb values */
		background-color: rgba($mainBlue, 0.3);

		&--dark {
			background-color: rgba($mainBlue, 0.9);
		}
	}



	&--is-expanded {
		background-color: rgba($mainBlue, 0.3);
	}

	&__btn-container {
		

		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(0.8);
		transform-origin: 50% 0;
		background-color: $mainBlue;
		padding: 25px 60px;

		@mixin atMedium {
			 left: auto;
			 transform: translateX(0);
			 transition: transform 0.3s ease-out;

			/* target .site-header__logo when dark header is being used */
			 .site-header--dark & {
				transform: scale(0.55);
			 }
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		/*background-color: #fff;*/
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform 0.3s ease-out;
		}
		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: transform 0.3s ease-out;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: transform 0.3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: translateX(1px) rotate(43deg) scaleX(1.25);
		}
		
		.site-header__menu-icon__middle {
			/*opacity: 0;*/
			transform: scaleX(0);
		}

		&::after {
			transform: translateX(1px) rotate(-43deg) scaleX(1.25);
		}
	}

	&__menu-content {
		/* instead of display none, use opacity to enable transition effect*/
		opacity: 0;
		transform: scale(0.9);
		transition: all 0.3s ease-out;
		/* to z-index work it needs rel pos */
		position: relative;
		z-index: -10;

		padding-top: 90px;
		text-align: center;

		@mixin atMedium {
			padding-top: 0;
			z-index: 1;
			opacity: 1;
			transform: scale(1);
		}

		&--is-visible {
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
	}

	
}